<h1>Log In</h1>

<form action="/login" method="POST">
<label for="username">Username:</label>
<input type="text" name="username" id="username" placeholder="username">
<label for="password">Password:</label>
<input type="password" name="password" id="password" placeholder="password">
<button type="submit">Log In</button>
</form>
{{#if message}}
    <p style="color: crimson">{{message}}</p>
{{/if}}